body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#popcat {
    width: 42vw;
    cursor: pointer;
}

.counter {
    margin-top: -40px;
    font-size: 26px;
    margin-bottom: 11px;
    font-family: fantasy;
}
